/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #1a0a0a;
    margin: 0;
    padding: 20px;
}

h2,h3 {
    font-weight: bold;
}

main {
    margin-top: 20px;
}


a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


